extends ./layouts/common.pug

block content
    link(rel="stylesheet", href="/styles/createShop.css")
    div(class="totalShop")
        div(style="width: 100%;")
            div(class="titleInShop")
                p= btn+" cửa hàng"

            form(action=myAction, method="post")
                div(class="inlineShop")
                    p Tên cửa hàng
                    input(type="text",name="tencuahang",placeholder="Tên cửa hàng",required,value=result?result.tencuahang:"")            
                div(class="inlineShop")
                    p Địa chỉ
                    input(type="text",name="diachi",placeholder="Địa chỉ",required,value=result?result.diachi:"")            
                div(class="inlineShop")
                    p Ngày tham gia
                    input(type="text",name="ngaythamgia",placeholder="Ngày tham gia",required,class="ngaythamgia",value=result?result.ngaythamgia:getd,readonly)            
                div(style="display: none; visibility: hidden; opacity: 0;")
                    input(type="text",name="manguoidung",value=manguoidung)            
                div(style="display: none; visibility: hidden; opacity: 0;")
                    input(type="text",name="macuahang",value=result?result.macuahang:"")            
                div(style="width:100%; display: flex; justify-content: center;")
                    button= btn
    script(src="/public/utility/createShop.js")